.login-form label {
  font-size:2vw;
}
.login-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:40%;
}

.login-form {
  background:rgba(255, 255, 255, 0.6) ;
  border-radius:15px;
  width:300px;
  margin:auto;
  padding:20px;
 }

.login h2 {

  font-size:5vw;
}

.login p {
  font-size: 4vw;
}
.login-buttons {
  display: flex;
}
.header {
  margin-top: 10%; 
}
  button.jump {
    font-size:1.5vw;

  
  }
  button.login {
    margin:auto;
    background-color: rgb(23, 146, 218);
    color:white;
    padding:10px;
    border-radius:10px;
    font-size:1vw;
    font-weight:bold;
  }
  .header {
    margin-top: 5%; 
  }
  @media screen and (max-width: 1366px) {
    .header {
      margin-top: 10%; 
    }
  }
  @media screen and (max-width: 1024px) {
    button.login {
      font-size:1.5vw;
    }
    .header {
      margin-top: 12%; 
    }
  }
  @media screen and (max-width: 768px) {
    .login-form label {
      font-size:3vw;
    }
    .login-section{
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      height:1080px;
    }
    
    .login-form {
      background:rgba(255, 255, 255, 0.6) ;
      border-radius:15px;
      width:300px;
    
      padding:20px;
     }
  }