.login-form label {
  font-size:1vw;
}
.login-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:40%;
}

.login-form {
  background:rgba(255, 255, 255, 0.6) ;
  border-radius:15px;
  width:300px;
  margin:auto;
  padding:20px;
 }

.login h2 {

  font-size:5vw;
}

.login p {
  font-size: 4vw;
}
.login-buttons {
  display: flex;
}
.login buttons button.login {
  font-size:1vw;
}
.login buttons button.jump {
  font-size:1vw;
}
.textCenter {
  flex:1;
}
  button.jump {
    font-size:1vw;

  
  }
  button.login {
    margin:auto;
    background-color: rgb(23, 146, 218);
    color:white;
    padding:10px;
    border-radius:10px;
    font-size:1vw;
    font-weight:bold;
  }
  .logout {
    margin-left:10px;
  }
  .signin .header {
    margin-top:20%;
  }

  @media screen and (max-width: 1366px) {
    .login-form button.login {
      font-size: 1.5vw;
    }
    .login-form button.jump {
      font-size: 1.5vw;
    }
  }
  @media screen and (max-width: 1024px) {
    .login-form button.login {
      font-size: 1.5vw;
    }
    .login-form button.jump {
      font-size: 1.5vw;
    }

  }
  @media screen and (max-width: 768px) {
    .login-form label {
      font-size:3vw;
    }
    .login-section{
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      height:1080px;
    }
    
    .login-form {
      background:rgba(255, 255, 255, 0.6) ;
      border-radius:15px;
      width:300px;
    
      padding:20px;
     }
     .login-form button.login {
      font-size: 2vw;
    }
    .login-form button.jump {
      font-size: 2vw;
    }
  }
  @media screen and (max-width: 415px) {
    .login-form button.login {
      font-size: 3vw;
    }
    .login-form button.jump {
      font-size: 3vw;
    }
  }