body {
  padding:0;
  margin:0;
}
#root {
  height:100%;
  margin-top: 0px;
  padding:0;
}
.product {
  margin:auto;
}
#product-section {
  width:100%;
}
#product-main {
  background: url("../../images/pastelBack.jpg");
  background-position: calc(50% - 00px) calc(0% - 0px); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  display:flex;
  height:100%;
  width:100%;

}
.product-header .header{
  margin-top:20px;
}
.product-back-button {
  align-self: flex-start;
  margin:10px 0 0 10px;
}
.productDetail {
  text-align:center;
}

.product-shot  {
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}
.productDetail h3 {
  margin:15px 0;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}

.productDetailDesc {
  text-align: center;
  margin: auto;
  font-size: 2.1vw;
  width:60%;
}
.productDetail {

  width:100%;
  text-align:center;
}
.productDetailPrice{
  font-size:1.2vw;
}
button {
  margin-left:20px;
}

.product-shot  {
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}
.productDetail h3 {
  margin:15px 0;
  font-size:2.8vw;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}

.productDetailDesc {
  text-align: center;
  margin: auto;
  font-size: 3vw;
  width:60%;
}
.productDetail {

  width:100%;
  text-align:center;
}
.productDetailPrice{
  font-size:2vw;
}
.arrangeButton {
  font-size:2.5vw;
  margin-top:5px;
}
@media screen and (max-width: 768px){
  h1.mainTitle {
    width:300px;
    margin:0 auto;
  }
  .productDetail h3 {
    font-size:4vw;
    margin-bottom:5px;
  }
  button {
   font-size:2vw;
  }
  .productDetailPrice{
    font-size:3vw;
  }
  .productDetailDesc {
    text-align:center;
    margin:auto;
    font-size:3.5vw;
  padding:10px;
  }
  .product-shot  {
    margin: auto;
    padding: 0px;
    border-radius: 50%;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  .productDetail h3 {
    margin:15px 0;
    font-size:2.8vw;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  
  .productDetailDesc {
    text-align: center;
    margin: auto;
    font-size: 2.3vw;
    width:60%;
  }
  .productDetail {
  
    width:100%;
    text-align:center;
  }
  .productDetailPrice{
    font-size:1.5vw;
  }
}
@media screen and (max-width: 600px){

.productDetail h3 {
  font-size:4vw;
  margin-bottom:5px;
}
button {
 font-size:3vw;
}
.productDetailPrice{
  font-size:4vw;
}
.productDetailDesc {
  text-align:center;
  margin:auto;
  font-size:4.5vw;
padding:10px;
}
.product-shot  {
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}
.productDetail h3 {
  margin:15px 0;
  font-size:3.8vw;
  /* background-image: radial-gradient(circle, pink, white, purple); */
}

.productDetailDesc {
  text-align: center;
  margin: auto;
  font-size: 3.3vw;
  width:60%;
}
.productDetail {

  width:100%;
  text-align:center;
}
.productDetailPrice{
  font-size:2.5vw;
}
}
@media screen and (max-width: 360px) and (max-height: 640px){
  .productDetail h3 {
    font-size:4vw;
    margin-bottom:5px;
  }
  button {
   font-size:3vw;
  }
  .productDetailPrice{
    font-size:4vw;
  }
  .productDetailDesc {
    text-align:center;
    margin:auto;
    font-size:4.5vw;
  padding:10px;
  }
  .product-shot  {
    margin: auto;
    padding: 0px;
    border-radius: 50%;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  .product-shot img {
    width:160px;
  }
  .productDetail h3 {
    margin:15px 0;
    font-size:3.8vw;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  
  .productDetailDesc {
    text-align: center;
    margin: auto;
    font-size: 3.3vw;
    width:60%;
  }
  .productDetail {
  
    width:100%;
    text-align:center;
  }
  .productDetailPrice{
    font-size:2.5vw;
  }
  }
@media screen and (max-width: 320px){
  .productDetail h3 {
    font-size:4vw;
    margin-bottom:5px;
  }
  button {
   font-size:3vw;
  }
  .productDetailPrice{
    font-size:4vw;
  }
  .productDetailDesc {
    text-align:center;
    margin:auto;
    font-size:4.5vw;
  padding:10px;
  }
  .product-shot  {
    margin: auto;
    padding: 0px;
    border-radius: 50%;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  .product-shot img {
    width:160px;
  }
  .productDetail h3 {
    margin:15px 0;
    font-size:3.8vw;
    /* background-image: radial-gradient(circle, pink, white, purple); */
  }
  
  .productDetailDesc {
    text-align: center;
    margin: auto;
    font-size: 3.3vw;
    width:60%;
  }
  .productDetail {
  
    width:100%;
    text-align:center;
  }
  .productDetailPrice{
    font-size:2.5vw;
  }
  }