ul {
  list-style: none;
}
.userInfo {
  list-style: none;
  width:100%;
}
.productTitle {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  padding:3px;
  text-align:center;
  color:#333;
  background: #efefef;
  margin:0 auto;
}