.product3 {
  display: flex; 
  flex-direction: column; 
  order: 1;
}
.product2 {
  display: flex; 
  flex-direction: column; 
  order: 2;
}
.product1 {
  display: flex; 
  flex-direction: column; 
  order: 3;
}
.thumb {
  display: inline-flex; 
  flex-direction: row; 
  order: 1;
}
.productInfo {
  display: inline-flex; 
  flex-direction: row; 
  order: 2;
}
h5 {
  display: flex; 
  flex-direction: column; 
  order: 1;
}
button {
  display: flex; 
  flex-direction: column; 
  order: 2; 
}
