* {
  box-sizing: border-box;
}
body {
  padding:10px;
}
label {
  margin-left:10px;
}
li  {
  list-style-type: none;
}
.arrangement {
  height:85px;

}
.thumbnail {
  width:85px;
  float:left;
}

.thumb  {
height:85px;
width:120px;
float:left;
clear:none;

}
.flowerChoice{  
padding-top:25px;
display:block;
}

.business, .residential {
  display: inline-block;
  height:60px;
}
.residential input {
  margin-left:55px;
}
.business input {
  margin-left:0px;
}
.residential, .business {
  text-align:center;
}
#deliveryType {
  width:13px;
  margin: 0 auto;
}
label.receiverMsg  {
  font-weight: bold;
}
.business p {
  font-weight:bold;
  margin-left:60px;
}
label.frequency , label.duration {
  font-weight:bold;

}
.frequency input, .duration input, .flowerChoice input {
  float: left;
}

.senderInfo {
  margin-top: 15px;
}