* {
  box-sizing: border-box;
}

body {
  padding:0 20px;
  background: #fafafa url(../images/_DSC9784.jpg);
  background-position: calc(-0% - 0px) calc(0% - 0px); 
  background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif;
}
label {
  margin-left:10px;
}
li  {
  list-style-type: none;
}
h4{

  padding:0;
  
}
ul {
  padding:0;
}
h5 {

  margin-bottom:5px;

}
.arrangement {
  height:85px;

}
.thumbnail {
  width:85px;
  float:left;
}

.thumb  {
height:85px;
width:120px;
float:left;
clear:none;

}

.flowerChoice{  
float:left;
}

.business, .residential {
  display: inline-block;
  height:60px;
}
.residential input {
  margin-left:55px;
}
.business input {
  margin-left:0px;
}
.residential, .business {
  text-align:center;
}
#deliveryType {
  width:13px;
  margin: 0 auto;
}
label.receiverMsg  {
  font-weight: bold;
}
.business p {
  font-weight:bold;
  margin-left:60px;
}
label.frequency , label.duration {
  font-weight:bold;

}
.frequency input, .duration input, .flowerChoice input {
  float: left;
}

.senderInfo {
  margin-top: 15px;
}
.frequency button, .duration button { 
  margin-top:5px;
}
.jump {
  margin-top:35px;
  background-color:green;
  color:white;
  padding:7px 10px;
  font-weight:bold;
}
.arrangeButton {
  /*
  background-color:hotpink;
  color: white;
  font-weight:bold;
  padding:7px 10px;
  */
}
.arrangementName {
  margin-left: 5px;
  font-weight:bold;
}
li.arrangement {
  margin-top:20px;

}
li.arrangement {
  background-color:rgba(255, 0, 0, 0.15);
  color:#000000;
  font-weight:bold;
}