* {
  box-sizing: border-box;
}
body {
  padding:10px;
}
label {
  margin-left:10px;
}
li  {
  list-style-type: none;
}
.arrangement {
  height:85px;

}
.thumbnail {
  width:85px;
  float:left;
}

.thumb  {
height:85px;
width:120px;
float:left;
clear:none;

}
.flowerChoice{  
padding-top:25px;
display:block;
}

.gift, .personal {
  display: inline-block;
  height:60px;
}
.gift input, .personal input {
  margin-left:55px;
}
 .flowerChoice input{
  float: left;
}
.gift p {
  font-weight:bold;
  margin-left:60px;
}
label.frequency {
  font-weight:bold;

}
div.frequency input {
  float: left;
}
#giftmsg {
  min-width: 300px;
  min-height:100px;
}

