* {
  box-sizing: border-box;
}
html, body  {
  min-height: 100%;
  height: 100%;
  padding:0;
  margin:0;
}
body {
  background: transparent url(../images/_DSC7675_grad.jpg); 
  background-position: calc(50% - 00px) calc(20% - 0px); 
  background-repeat: no-repeat;  
  font-family: 'Oxygen', sans-serif;
  font-size: 100%;
  font-size: 16px;
  font-size: 1em;

  padding:0;
  margin: 0;
  min-height: 100%;
  height: 100%;

}
#root{
  padding-top:0px;
}
div, span, p {
	margin: 0;
	padding: 0;
}

#navigation {
  padding-bottom: 25px;
  margin-top: 0px;
  margin-left: -1.0416667%;
  padding-right: 1.0416667%;
  padding-left: 1.0416667%;
  width: 100%; /* 940 divided by 960 */
}
#navigation ul li {
  display: inline-block;
}
#content {
  margin-top: 58px;
  margin-right: 1.0416667%;
  float: right;
  width: 72.7083333%;
}
 
#footer {
  float: left;
  margin-top: 2.833333px;
  margin-right: 1.0416667%;
  margin-left: 1.0416667%;
  clear: both;
  width: 100%; /* 940 divided by 960 */
}

.span11 {
  width: 68.75%;
}
.span10 {
  width: 62.5%;
}
.span9 {
  width: 56.25%;
}
.span8 {
  width: 50%;
}
.span7 {
  width: 420px;
}
.span6 {
  width: 43.75%;
}
.span5 {
  width: 31.25%;
}
.span4 {
  width: 25%;
}
.span3 {
  width: 18.75%;
}
.span2 {
  width: 12.5%;
}
.span1 {
  width: 6.25%;
}
header{
  text-align: center;
}
main {
  margin: 0;
}

h1 {
  font-size: 4vw;
  margin: 5px 0 0;
  padding: 0;
}
  h2 {
    font-size:3vw;
    padding:0px;
    text-align: center;
  }

  h3 {
    font-size:2.7vw;
    padding:0px;
  }
  h4 {
    font-size:1.8vw;
    padding:0px;
  }
  h5 {
    font-size:2.2vw;
    padding:0px;
    margin: 0;
    font-weight: bold;
}
  h6 {
    font-size:1.8vw;
    padding:0px;
  }
  p{
    font-size:1.6vw;
  }
form {
  /* background-color:rgba(255, 0, 0, 0.15);*/
   padding:0;
   margin:0 auto;
   width:100%;
   height:100%;
   min-width:280px;
 }

ul {
  padding:0;
}

li  {
  list-style-type: none;
}
.formButton{

  width:110px;
  margin: 50px auto 0;
}
.jump{
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size:1.8vw;
  margin-top:15px;
}
.entry  {
  margin-top:50px;
  font-size:3vw;
}

 .arrangements li {

  text-align:center;
  padding:0px;
  font-weight:bold;
  color:#000000;
}
.arrangements h4 {
  padding:0;
  margin:0;
}

.arrangement2 {
  border: .25px #eee solid;
}
.landing {
  min-width:280px;
  width: 80%;
  margin:10px auto 0;
}
.landing h2{
  font-size:3vw;
}


ul.arrangements {
  width:100%;
  border-radius:0.72916667%;
}
.jumpBack {
  background-color:yellow;
  font-size:1.5vw;
  padding:0.72916667% 1.0416667%;
  font-weight:bold;

  border: .5px #ccc solid;
  margin-left:5px;
  float:left;
}
.chooseButton {
  font-size: 1.8vw;
  background-color:green;
  color:white;
  font-weight:bold;
  padding: 0.72916667% 1.0416667%;

  margin: 0 auto;
  border: .5px #ccc solid;
  margin-top:10px;
}
.formbutton {
  text-align:center;
}

.entry {
  text-align: center;
}

.checkout h5 {
  padding:0;
  margin:0;
}


.arrangeButton {
  border: .5px #ccc solid;
  background-color:green;  
  color: #fafafa;
  font-weight:bold;
  margin: 2% 0;
  padding:0.72916667% 1.0416667%;
  width: 100px;
}
 label.frequency , label.duration,  label.recipientMessage   {
  font-weight:bold;
 }
 input {
  margin-top:10px;
  width: 100%;
  height:30px;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  padding: 1.0416667%;
  border-radius:0.72916667%;
}
#startDate {
  width:150px;
  text-align:center;
  margin-top:0;
}
#deliveryMsg {
  font-size:.8vw;
  font-weight:bold;
  margin-top:5px;
}

textarea {
  margin-top:21;
  width: 100%;
  height:50px;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  padding: 1.0416667%;
  border-radius:0.72916667%;

}
#scheduleInfo .jumpBack {
  margin-bottom:5px;
}
 button {
   border:none;   

 }
 button:hover {
  cursor: pointer;
 }

.datePicking h4 {
  font-size:1vw;
  padding:0;
  margin:15px 0 0;
}
 .thumb  {
  display:inline-block;
  cursor:pointer;
}
 .thumb > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.thumbnail{
  cursor:pointer;
}
.pickArr3 {
  display:inline-block;
  vertical-align: bottom;
  padding:0;
  width:100%;
  margin: 0 auto;
}
.pickArr2 {
  display:inline-block;
  vertical-align: bottom;
  padding:0;
  width:100%;
  margin: 0 auto;
}.pickArr1 {
  display:inline-block;
  vertical-align: bottom;
  padding:0;
  width:100%;
  margin: 0 auto;
}
.arrangement1, .arrangement2, .arrangement3{
  width:100%;
  text-align: center;
}
p.arrangementName {
  width:100%;
  padding:0;
}
p.byebye {
  text-align:center;
    font-size:3vw;
}
.flowerChoice {  
display:inline-block;
}

.productName {
  margin-top:0px;
}
.business, .residential {
  display: inline-block;
  height:6.25%;
}
.residential input {
  margin-left:5.729%;
}
.business input {
  margin-left:0px;
}
.residential, .business {
  text-align:center;
}
#deliveryType {
  width:1.3541667%;
  margin: 0 auto;
}
.business p {
  font-weight:bold;
  margin-left:6.25%;
}

.productDetail {

  width:100%;
  text-align:center;
}
.productDetailPrice{
  font-size:3vw;
}
.productPrice {
  font-size:3vw;
}
.frequency input, .duration input, {
  display:inline-block;

}
#recipients {
  margin-top:0;
  font-weight:bold;
  border-radius:10px;
  padding: 0px 5px;
}
 .landing {
  margin-top:0;
  font-weight:bold;
  border-radius:10px;
  padding: 0px;
}
.arrangements  {

  padding:0px 0px;
  font-weight:bold;
  border-radius:10px;
  width:100%
}
.recipientInfo h4 {
  padding:0px;
  margin:0px;
}



.productDetailDesc {
  background: -moz-linear-gradient(left, rgba(255,255,255,.65) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,.65) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,.65) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  border-radius:0.72916667%;
  padding:5px;
  width:90%;
}
.senderInfo h4 {
  padding:0;
  margin:0;
}
.senderInfo  {
  padding:0 5px;
  margin:0;
}
.scheduleFormFields {
  margin-top:10px;
}
.schedule h3 {
  padding:0;
  margin:0;
}
.datePicking h2 {
  padding:0;
  margin:0;
}

.frequency button, .duration button { 
  margin-top:1.0416667%;
}
div.checkout {
  max-width:98%;
}
.checkout span{
  font-weight:bold;
}
.checkout .jump {
  margin-top:10px;
}

.arrangementName {
  margin-top: - .520833%;
  font-weight:bold;
  color:#333;
  font-size: 1.4vw;
}

p.recipients  {
  font-size:1vw;
}
 
.recipientInfoFields1{
  width:100%;
  border-radius:0.72916667%;
}
.recipientInfoFields2{
  width:100%;

}
.message-success {
  margin-top:10px;
  text-align:center;
}
.orderSummary {
  text-align:center;
  display:inline-block;
  width: 100%;
  font-size:2vw;
}

.senderOrderSum{
  font-size:2vw;
}


li.arrangement2 {
  margin-top:20px;
  margin-bottom:20px;
}
  
.orderSummary {
  margin-bottom: 5px;
  text-align:center;
}
.orderSummary p{
  font-size: 1.5vw;
}



.checkout { 
  width:100%;
  display:block;
  min-width:300px;
  text-align:center;
  margin:0 auto;
}

.checkoutSum{
  padding:0;

}

.scheduleBlock {
  margin-left:0px;
}
#scheduleInfo {

  padding:10px;
  width:80%;
  min-width:280px;
  margin:10px auto 0;
  text-align:center;

  }
  .landing {
    min-width:280px;
    width: 80%;
    margin:50px auto 0;
  }
  .landing h2{
    font-size:3vw;
  }
  .productPhoto-p2 {
    text-align:center;
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_480.png');
    background-repeat:no-repeat;
    height: 640px;
    width:480px;
    margin: 0 auto;
  }
  #scheduleInfo h5 {
    width:100px;
    margin:10px auto 0; 
  }
  .confirmButton {
    width:100%;  
    text-align:center;
  }
  .confirmButton button{
  font-size:2vw;
  background-color: green;
  color: white;
  font-weight: bold;
  margin:0 auto;
  width:10%;
  }

.leftSide {
  display: inline-block;
  vertical-align:top;
  width:500px;
}
.rightSide {
  width:500px;
  display: inline-block;
  vertical-align:top;
  margin-left : 7%;
}
@media only screen and (max-width: 1366px) {
  h1 {
    font-size: 4vw;
    margin:20px 0 0;
    padding:0;
  }
  h5 {
    font-size: 2.5vw;
    margin:0;
  }
  .arrangementName {
    font-size: 1.5vw;  
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_480.png');
    background-repeat:no-repeat;
    height:640px;
    width:480px;
    margin: 0 auto;
  }
  .message-success {
    margin-top:10px;
    text-align:center;
    font-size:4vw;
  }
  span.subscribe  {
    margin-left:5px;
  }

  .chooseButton {
    font-size:2vw;
    margin-top:10px;
    background-color:green;
    color:white;
    font-weight:bold;
    margin: 0 auto;
    border: .5px #ccc solid;
  }
  
  .landing {
    min-width:280px;
    width: 80%;
    margin: 10% auto 0;
    font-weight: normal;
    font-size: 2.5vw;
  }
  .landing h2{
    font-size:2.8vw;
  }
  .landing p{
    font-size: 3vw;
  }

  .productDetailPrice {
    font-size:1.5vw;
  }

  .productDetailDesc {
    width:500px;
    margin: 0 auto;
    font-size:2vw;
  }
  .jumpBack {
    background-color: yellow;
    font-size: 2.2vw;
    padding: 0.72916667% 1.0416667%;
    font-weight: bold;

    border: .5px #ccc solid;
    margin-left: 5px;
    float:left;
  }
  .chooseButton {
    font-size: 1.8vw;
    background-color:green;
    color:white;
    font-weight:bold;
    padding: 0.72916667% 1.0416667%;
    width: 120px;
    margin: 0 auto;
    border: .5px #ccc solid;
    margin-top:10px;
  }
  .productPrice {
    font-size: 2vw;
}
  .orderSummary h5 {
    width:200px;
    margin: 10px auto 0;
  }
  .leftSide  h5, .rightSide  h5 {
    width:100px;
    margin: 10px auto 0;
  }
  #deliveryMsg {
    font-size: 2vw;
    font-weight: bold;
}
.leftSide {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}
.rightSide {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}
.receiverBlock h5{
  font-size:2vw;
  padding:0px;
  font-weight: bold;
  width:200px;
  text-decoration:underline;

}
.senderBlock h5 {
  font-size:2vw;
  padding:0px;
  font-weight: bold;
  width:200px;
  text-decoration:underline;
}
}
@media only screen and (max-width: 1280px) {
  .arrangementName {
    font-size: 2vw;  
  }

  h3 {
    font-size:3vw;
    padding:0px;
  }
  p{
    font-size:2.2vw;
  }
  .checkoutSum h5 {
    font-size:1.8vw;
  }
  .entry {
    margin-top:20px;
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_640.png');
    background-repeat:no-repeat;
    height:640px;
    width:640px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_640.png');
    background-repeat:no-repeat;
    height:640px;
    width:640px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_640.png');
    background-repeat:no-repeat;
    height:860px;
    width:640px;
    margin: 0 auto;
  }
  .productDetailPrice {
    margin: 0 auto;
  }

  .chooseButton {
    border: .5px #ccc solid;
    font-size:2vw;
    margin-top:10px;
    background-color:green;
    color:white;
    font-weight:bold;
    margin: 0 auto;
  }

  
    .landing {
      min-width:280px;
      width: 80%;
      margin: 5px auto 0;
      font-weight: normal;
    }
    .landing h2{
      font-size:3vw;
    }
  
}

@media only screen and (max-width: 1024px) {
  .arrangementName {
    font-size: 2.5vw;  
  }

  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_480.png');
    background-repeat:no-repeat;
  
    width:480px;
    margin: 0 auto;
  }
  .productDetailPrice {
    margin: 0 auto;
    font-size:2vw;
  }

  .chooseButton {
    font-size:2vw;
    margin-top:10px;
    background-color:green;
    color:white;
    font-weight:bold;
    margin: 0 auto;
    border: .5px #ccc solid;
  }
  
  .landing {
    min-width:280px;
    width: 80%;
    margin: 10% auto 0;
    font-weight: normal;
    font-size: 2.5vw;
  }
  .landing h2{
    font-size:2.8vw;
  }
  .landing p{
    font-size: 3vw;
  }

  .jumpBack {
    background-color: yellow;
    font-size: 2vw;
    padding: 0.72916667% 1.0416667%;
    font-weight: bold;
    border: .5px #ccc solid;
    margin-left: 5px;
    float:left;
  }
  .chooseButton {
    font-size: 2vw;
    background-color:green;
    color:white;
    font-weight:bold;
    padding: 0.72916667% 1.0416667%;
    width: 100px;
    margin: 0 auto;
    border: .5px #ccc solid;
    margin-top:10px;
  }
  .pickArr1, .pickArr2, .pickArr3 {
    width: 400px;
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 280px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 400px;
  }
  .receiverBlock h5{
    font-size:2vw;
    padding:0px;
    font-weight: bold;
    width:200px;
    text-decoration:underline;

  }
  .senderBlock h5 {
    font-size:2vw;
    padding:0px;
    font-weight: bold;
    width:200px;
    text-decoration:underline;
  }
}
@media only screen and (max-width: 900px) {
  .arrangementName {
    font-size: 3vw;  
  }




  .landing {
    min-width:280px;
    width: 80%;
    margin: 20% auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }

}
@media only screen and (max-width: 823px) {
  #root {
    min-height: 100%;
    height: 100%;
  }
  .productDetailDesc {
    width:500px;
    margin: 0 auto;
    font-size:2vw;
  }
  h1 {
    margin-top:5px;
  }
  h5 {
    font-size:2.2vw;
    width: 360px;
    margin:0 auto;

  }
  h3 {
    font-size:2.2vw;
    width: 550px;
    margin:0 auto;

  }
  
 .jumpBack{
    font-size:2vw;
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_120_160.png');
    background-repeat:no-repeat;
    height:160px;
    width:120px;
    margin: 0 auto;
  }
  .message-success {
    margin-top:10px;
    text-align:center;
  }
  .pickArr1, .pickArr2, .pickArr3 {
    width: 350px;
  }
  #deliveryMsg {
    font-size:1.8vw;
  }
  #scheduleInfo h5 {
    width: 100px;
    margin: 10px auto 0;
    font-size:2vw;
  }
  .checkoutSum p {
    font-size:1.8vw;
  }
  .checkout h4 {
    padding:0;
    margin:0;
    font-size:2vw;
  }
  input {
    height: 25px;
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .receiverBlock h5{
    font-size:2vw;
    padding:0px;
    font-weight: bold;
    width:200px;
    text-decoration:underline;

  }
  .senderBlock h5 {
    font-size:2vw;
    padding:0px;
    font-weight: bold;
    width:200px;
    text-decoration:underline;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 20px auto 0;
    font-weight: normal;
    font-size: 2.5vw;
  }
  .landing h2{
    font-size:3vw;
    padding:0;
    margin:5px 0;
  }
  .jump {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.8vw;
    margin-top: 15px;
}
h3 {
  font-size: 2vw;
  width: 550px;
  margin: 0 auto;
}
.scheduleFormFields {
  margin-top: 0px;
}
#scheduleInfo {
  padding: 0px;
  width: 80%;
  min-width: 280px;
  margin: 0px auto 0;
  text-align: center;
}
#scheduleInfo  {
  width: 100px;
  margin: 10px auto 0;
  font-size: 2vw;
}
}
@media only screen and (max-width: 770px) {
  .arrangementName {
    font-size: 3vw;  
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_480.png');
    background-repeat:no-repeat;
    width:480px;
    height:480px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_480.png');
    background-repeat:no-repeat;
    width:480px;
    height:640px;
    margin: 0 auto;
  }
  .productDetailDesc {
    width:500px;
    margin: 0 auto;
    font-size:3vw;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 25% auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }

  .landing p{
    font-size: 3vw;
    margin-top:10px;
  }
  #scheduleInfo h5 {
    width: 100px;
    margin: 10px auto 0;
    font-size:3vw;
}
  .scheduleFormFields p, input, select{
    font-size:2vw;
  }
}
@media only screen and (max-width: 750px) {
  .arrangementName {
    font-size: 3vw;  
  }


  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_120_160.png');
    background-repeat:no-repeat;
    width:120px;
    height:160px;
    margin: 0 auto;
  }
  .productDetailDesc {
    width:500px;
    margin: 0 auto;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 5px auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }

  .landing p{
    font-size: 2.5vw;
  }

  .pickArr1, .pickArr2, .pickArr3 {
    width: 320px;
  }
  #deliveryMsg {
    font-size:2vw;
  }
  .checkoutSum p {
    font-size:2vw;
  }
  .checkout h4 {
    padding:0;
    margin:0;
    font-size:2vw;
  }
  input {
    height: 25px;
  }

  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
}
@media only screen and (max-width: 680px) {
  .arrangementName {
    font-size: 3vw;  
  }


  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_120_160.png');
    background-repeat:no-repeat;
    width:120px;
    height:160px;
    margin: 0 auto;
  }
  .message-success {
    margin-top:10px;
    text-align:center;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 5px auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }
  .landing p{
    font-size:2.4vw;
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
}
@media only screen and (max-width: 667px) {
  #scheduleInfo h5 {
    width:100px;
    margin:10px auto 0; 
  }
  .checkoutSum p {
    font-size:2vw;
  }
  .checkout h4 {
    padding:0;
    margin:0;
    font-size:2vw;
  }
  input {
    height: 25px;
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
}

@media only screen and (max-width: 640px) {
  .arrangementName {
    font-size: 3vw;  
  }
  input {
    width:100%;
    height:25px;
  }
  #deliveryMsg {
    font-size:2vw;
  }

}

@media only screen and (max-width: 600px) {
  .arrangementName {
    font-size: 3.5vw;  
  }
  input {
    width:100%;
  }

  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_480.png');
    background-repeat:no-repeat;
    height:480px;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_480.png');
    background-repeat:no-repeat;
    width:480px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_480.png');
    background-repeat:no-repeat;
    width:480px;
    margin: 0 auto;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 5px auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }

}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 4vw;
    margin: 5px 0 0;
    padding: 0;
}
  .arrangementName {
    font-size: 3.5vw;  
  }
  input {
    width:100%;
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_120.png');
    background-repeat:no-repeat;
    height:120px;
    width:120px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_120_160.png');
    background-repeat:no-repeat;
    width:120px;
    height:160px;
    margin: 0 auto;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 5px auto 0;
    font-weight: normal;
  }
  .landing h2{
    font-size:3vw;
  }
  .landing p{
    font-size: 2.5vw;
    margin-top:5px;
  }

  .jumpBack {
    background-color:yellow;
    font-size:2vw;
    padding:0.72916667% 1.0416667%;
    font-weight:bold;

    border: .5px #ccc solid;
    margin-left:5px;
    float:left;
  }
.productDetail {
  margin-top: -10px;
}


}


@media only screen and (max-width: 480px) {
  .arrangementName {
    font-size: 3.5vw;    
  }
  #root{
    padding-top:20px;
  }
h1 { 
  margin-top:20px;
}
  input {
    width:100%;
  }
  h1 {
    font-size:5vw;
    margin:0px 0 0px 10px;
    padding:0px;
  }
  h2 {
    font-size:3.5vw;
    padding:0px;
  }

  h3 {
    font-size:4vw;
    padding:0px;
  }
  h4 {
    font-size:3.5vw;
    padding:0px;
  }
  h5 {
    font-size:4vw;
    padding:0px;
    font-weight: bold;
}
  h6 {
    font-size:1.8vw;
    padding:0px;
  }
  p{
    font-size:4vw;
  }
  .checkout h4 {
    font: size 4.5vw;
  }
  .checkoutSum h5 {
    font: size 4vw;
  }
  .productPrice {
    font-size:2vw;
  }
  input {
    height:35px;
  }
  label {
    font-size: 3vw
  }
  p.recipient, p.sender {
    font-size:3vw;
  }
  .checkout .sender, .checkout .recipient  {
    font-size:3.5vw;
  }
  .orderSummary h5{
    font-size: 3.5vw;
    }
  .entry {
      margin-top:20px;
  }

  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_360.png');
    background-repeat:no-repeat;
    height:360px;
    width:360px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_360.png');
    background-repeat:no-repeat;
    height:360px;
    width:360px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_280.png');
    background-repeat:no-repeat;
    height: 373px;
    width: 280px;
    margin: 0 auto;
    margin: 0 auto;
  }

  .landing {
    margin-top:30%;
  }
  .landing p{
    font-size: 4vw;
    text-align: justify;
    font-weight:normal;
    width:98%;
    margin-top:5px;
  }
  .landing h2{
    font-size: 4vw;
  }
  .jump {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
    margin-top: 15px;
}
}


@media only screen and (max-width: 420px) {
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_280.png');
    background-repeat:no-repeat;
    height:373px;
    width:280px;
    margin: 0 auto;
  }

  .landing {
    margin-top:5px;
  }
  .landing p{
    font-size: 4vw;
    text-align: justify;
    font-weight:normal;
    width:98%;
    margin-top:5px;
  }
  .landing h2{
    font-size: 4vw;
  }

  .chooseButton {
    width:80px;
    height: 35px;
    margin:10px auto 0;
    font-size:4vw;
  }
  .productDetailPrice {
    font-size:3vw;
  }
  .productDetailDesc {
    width:280px;
    margin: 0 auto;
  }

}
@media only screen and (max-width: 414px) {

  .productDetailDesc {
    width:280px;
    margin: 0 auto;
    font-size:3vw;
  }
  input{
    font-size:1.1em;
    }
    .orderSummary h5 {
      width: 200px;
      margin: 0px auto 0;
  }
  input {
    height:25px;
  }
  .jump {
    margin-top:5px;
  }
  .formButton {
    width: 110px;
    margin: 5px auto 0;
  }
  .schedule h3 {
    width: 280px;
  
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  select {
    font-size: 4vw;
  }
  .datePicking h4 {
    font-size:3vw;
    padding:0;
    margin:15px 0 0;
  }
  #startDate {
    font-size:3.5vw;
    text-align: center;
    margin-top: 0;
  }
  #scheduleInfo h5 {
    font-size:4vw;
    margin: 10px auto 0;
  }
  
}
@media only screen and (max-width: 411px) {

  .productDetailDesc {
    width:280px;
    margin: 0 auto;
    font-size:3.2vw;
  }
  #deliveryMsg {
    font-size:2.5vw;
  }
  input{
  font-size:1.1em;
  }
  .orderSummary h5 {
    width: 200px;
    margin: 0px auto 0;
}
input {
  height:25px;
}
.jump {
  margin-top:5px;
}
.formButton {
  width: 110px;
  margin: 5px auto 0;
}
}
@media only screen and (max-width: 400px) {

  .senderBlock h5, .receiverBlock h5 {
    font-size:3.5vw;
    padding:3px 0;
    margin:10px 0 5px 0px;
    border:1px #999 solid;
    font-weight: bold;
    width:100px;
    border-radius:5px;
    background:#eee;
    color:#000;
  }
  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_280.png');
    background-repeat:no-repeat;
    height:373px;
    width:280px;
    margin: 0 auto;
  }
  .message-success {
    margin-top:10px;
    text-align:center;
  }
  .landing {
    margin-top:5px;
  }
  .landing p{
    font-size: 4vw;
    text-align: justify;
    font-weight:normal;
    width:98%;
    margin-top:5px;
  }
  .landing h2{
    font-size: 4vw;
  }

  .chooseButton {
    width:80px;
    height: 35px;
    margin:10px auto 0;
    font-size:4vw;
  }
  .productDetailPrice {
    font-size:3vw;
  }
  .productDetailDesc {
    width:280px;
    margin: 0 auto;
    font-size:3vw;
  }
  #deliveryMsg {
    font-size:2.5vw;
  }
  input{
    font-size:1.1em;
    }
    .orderSummary h5 {
      width: 200px;
      margin: 0px auto 0;
  }
  input {
    height:25px;
  }
  .jump {
    margin-top:5px;
  }
  .formButton {
    width: 110px;
    margin: 5px auto 0;
  }
  .leftSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .scheduleFormFields p {
    font-size: 3.5vw;
  }
  select {
    font-size: 4vw;
  }
  .datePicking h4 {
    font-size:3vw;
    padding:0;
    margin:15px 0 0;
  }
  #startDate {
    font-size:3.5vw;
    text-align: center;
    margin-top: 0;
  }
.jump {
  margin-top:5px;
}
.formButton {
  width: 110px;
  margin: 5px auto 0;
}
.leftSide {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.rightSide {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
select {
  font-size: 4vw;
}
.datePicking h4 {
  font-size:3vw;
  padding:0;
  margin:15px 0 0;
}
#startDate {
  font-size:3.5vw;
  text-align: center;
  margin-top: 0;
}
#scheduleInfo h5 {
  font-size:4vw;
  margin: 10px auto 0;
}
h3 {
  font-size: 3vw;
  width: 250px;
  margin: 0 auto;
}
.confirmButton button {
  font-size: 3vw;
  background-color: green;
  color: white;
  font-weight: bold;
  margin: 0 auto;
width:50px;
}
}
@media only screen and (max-width: 320px) {
  input { 
    height:25px;
    font-size:1.5em;
  }
  form {
    padding:0;
  }

 .thumb > img {
    object-fit: cover;
    width: 85%;
    max-height: 85%;
  }
  .receiverBlock h5{
    font-size:4vw;
    padding:0px;
    font-weight: bold;
    width:100px;
    text-decoration:underline;

  }
  .senderBlock h5 {
    font-size:4vw;
    padding:0px;
    font-weight: bold;
    width:100px;
    text-decoration:underline;
  }
  p.recipient {
    font-size: 30vw;
  }


  .productPhoto_p1 {
    background-image: url('../images/_DSC3345_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p2 {
    background-image: url('../images/_DSC2980_280.png');
    background-repeat:no-repeat;
    height:280px;
    width:280px;
    margin: 0 auto;
  }
  .productPhoto_p3 {
    background-image: url('../images/_DSC3098_280.png');
    background-repeat:no-repeat;
    height:373px;
    width:280px;
    margin: 0 auto;

  }
  .productDetailDesc {
    margin:5px auto;
    width:80%;
    font-size:3vw;
  }
  p.productDetailPrice {
    font-size:4vw;
  }
  .chooseButton {
    font-size:3.5vw;
    margin-top:10px;
    background-color:green;
    color:white;
    font-weight:bold;
    margin: 0 auto;
    border: .5px #ccc solid;
  }
  .landing {
    min-width:280px;
    width: 80%;
    margin: 5px auto 0;
    font-size:3vw;
  }
  .landing p{
    font-size: 4vw;
    text-align: justify;
    font-weight:normal;
    width:98%;
    margin-top:5px;
  }
  .landing h2{
    font-size: 4vw;
  }

  #scheduleInfo .jumpBack{
    font-size:3vw;
  }
  .scheduleBlock .jump{
    width:50px;
  }
  p.recipient{
    font-size:3.5vw;
  }
  .schedule h3 {
    width: 200px;
  
  }
  .jumpBack {
    background-color:yellow;
    font-size:2.5vw;
    padding:0.72916667% 1.0416667%;
    font-weight:bold;

    border: .5px #ccc solid;
    margin-left:5px;
    float:left;
  }
  .checkoutButton button{

    margin: 0 auto;

  }
  .orderSummary h5 {
    width: 200px;
    margin: 0px auto 0;
}
input {
  height:25px;
}
.jump {
  margin-top:5px;
}
.formButton {
  width: 110px;
  margin: 5px auto 0;
}
.leftSide {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.rightSide {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
select {
  font-size: 4vw;
}
.datePicking h4 {
  font-size:3vw;
  padding:0;
  margin:15px 0 0;
}
#startDate {
  font-size:3.5vw;
  text-align: center;
  margin-top: 0;
}
#scheduleInfo h5 {
  font-size:4vw;
  margin: 10px auto 0;
}

}